body {color: black; font-family: Arial, Helvetica, sans-serif; }
header {background-color: purple; color: greenyellow; }
footer {background-color: purple; color: greenyellow; }
/* comment: ello luv */

/* selecting multiple elemets to add same style */
h2, h3 {text-decoration: underline; color: purple; }

/* selecting child elemets */
nav ul {list-style: none; }

/* selecting child elemets multiple levels */
nav ul a {color: greenyellow; text-decoration: none;}

/* doing the class attribute (styling the page using class) */
.green-text {background: greenyellow; color: purple; text-decoration: none;}
.large-text {}
.site-footer {}

/* doing the id attibutes */
#tow {background: rgba(128, 0, 128, 0.226);}